{% extends "layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block main %}

<form class="login-form" action="/settings" method="post">
    <h3 style="text-align: center; margin-top: 5rem;">Category settings</h3>
    <div class="input-group mb-3" style="margin: auto; margin-top: 2rem">
        <input type="text" class="form-control" placeholder="Category name" name="category" required>
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-success" type="submit">Add</button>
        </div>
    </div>
</form>
<form class="login-form" action="/settings" method="post" id="categ_settings" style="text-align: center; margin-top: 1rem;">
    <div class="input-group mb-3" style="margin: auto; margin-top: 1rem">
        <select class="custom-select" name="category2del" form="categ_settings">
            <option selected disabled>Choose category</option>
            {% for categ in categ_list %}
            <option value="{{ categ.title }}">{{ categ.title }}</option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
        </div>
    </div>
</form>

<form class="login-form" action="/settings" method="post">
    <h3 style="text-align: center; margin-top: 5rem;">Profile settings</h3>
    <div class="form-group">
        <label for="exampleInputPassword1">Old password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password"
            name="oldPassword" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">New password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password"
            name="newPassword" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password"
            name="confirmation" required>
    </div>
    <button type="submit" class="btn btn-success login-btn">Submit</button>
</form>

{% endblock %}

{% block act %}
"set"
{% endblock %}